@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  margin: 0 auto;
  margin-left: 200px;
  max-height: 80px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin-left: 30px;
}

nav ul li {
  margin: 0 20px;
}
